@charset "UTF-8";

/* BASE FONTS*/
 .open body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    overflow: hidden;

}





/* BASE SPACE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE LIST */
ul {
    list-style: none;

}

/* BASE LINK */
a {
    color: inherit;
    text-decoration: none;
}

/* BASE IMAGE */
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.page-grid {
    display: grid;
    grid-template-columns: 72px auto 72px;
    grid-template-rows: 72px auto auto;


}

.parts-grid {
    display: grid;
    grid-template-columns: 20px auto 20px;
}

.parts-grid>*,
.page-grid::before,
.page-grid::after {
    grid-column: 2/3;
}


.nav-button {
    grid-column: 3/4;
    grid-row: 1;
    padding: 0;
    outline: none;
    border: none;
    background-color: #98a718;
    cursor: pointer;
    display: grid;
    place-content: center;
    z-index: 200;

}

.nav-button::before,
.nav-button::after {
    content: "";
    display: block;
    margin: auto;
    width: 32px;
    height: 4px;
    background-color: #fff;
    transition: transform 0.5s !important;
}

.nav-button::before {
    transform: translateY(-5px);
}


.nav-button::after {
    transform: translateY(5px) !important;
}

.oepn .nav-button::before {
    transform: translateY(2px) rotate(45deg) !important;
}

.open .nav-button::after {
    transform: translateY(-2px) rotate(-45deg) !important;
}
/* navbar */

.nav>ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: grid;
    justify-items: center;
    gap: 50px;
    align-content: center;
    transform: scale(0,0);
    transform-origin: top right;
    transition: 0.5s;
}

/* class open */

.open .nav>ul {
    transform: scale(1,1);
}


.sns {
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    gap: 30px;
    justify-self: end;
    align-self: start;
    margin-right: 10px;
    margin-top: 187px;

}

.decor {
    grid-column: 1/2;
    grid-row: 2/3;
}

/*hero */

.hero>* {
    
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;
}
.hero  h1 {
    margin-top: 33px;
    font-size: 91px;
    font-weight: bold;
    
}

.hero  p {
    margin-top: 120px;
    font-size: 17px;
    
    

}
.hero img {
    width: 302px;
    height: 506px;
    object-fit: cover;
    margin: 63px 0 100px;
}

.hero {
    background: #fff;
}

.hero h1, .hero  p {
    color: #ffffff;
    mix-blend-mode: difference;
    z-index: 2;
    line-height: 1;
}

/* message */
.msg{
    padding: 64px 0px;
    row-gap: 58px;
}

.msgBlack {
    background-color: #000;
    color: #fff;
}

.msg img {
    width: 100%;
    height: 288px;
    object-fit: cover;
}
.msgBlack img {
    object-position: left center;
}

.msg h2 
{
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}

.msg .text-subtitle{
    margin-bottom: 40px;
    color: #aaa;
    font-size: 20px;
}
.msg .text-body {
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 1.5;
}

.msg .text-link {
    color: #98a718;
    font-size: 18px;
    font-weight: bold;
}

.msg figure {
    grid-row: 1;
}
.msg::before {
    grid-row: 1;
    z-index: 2;
    content: "";
    display: block;
    width: 26px;
    height: 27px;
    background-color: #98a718;
}

.msgWhite::before {
    justify-self: end !important;
   
}
.msgWhite::after {
    grid-column: 1;
    grid-row: 1;
    margin-right: -90px;
    z-index: -1;
    height: 130px;
    align-self: end;
    margin-bottom: -25px;
    content: '';
    display: block;
    background-color: #98a718;
    opacity: 60%;

}

.footer {
    grid-column: 1/-1;
    grid-row: 3;
    background-color: #000;
    color: white;
    padding: 81px 0 86px;


}

.footer>* {
    grid-row: 1;
}

.footer .chat {
    justify-self: end;
    margin-top: -100px;
    color: #98a718;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.foot .chat .image {
    padding-bottom: 7px;
}

.footer .site {
    margin-bottom: 33px;
    font-size: 37px;
    font-weight: bold;
}

.footer .address {
    font-size: 14px;
    line-height: 1.3;
}

/*  BASE SCREEN READER ONLY */
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Navigation button */
.decor {
    justify-self: start;
    align-self: start;
    transform: rotate(180deg);
    margin-top: 257px;
    margin-left: 10px;
    writing-mode: vertical-rl;
}




/* media query for desktop */
@media (min-width: 768px) {
    .sr-only {
        justify-self: center;
        margin-right: 0;
    }

    .decor {
        justify-self: center;
        margin-left: 0;
    }

    .page-grid::before,
    .page-grid::after {
        content: "";
        display: block;
        background-color: #98a718;
        justify-self: center;
        grid-column: 1;
        grid-row: 2;
        margin-top: 660px;
    }

    .page-grid::before {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .page-grid::after {
        width: 1px;
        min-height: 200px;
    }

    .footer .chat {
        margin-top: 0px;
    }

    .parts-grid {
        grid-template-columns: minmax(72px, 1fr) minmax(auto, 1074px) minmax(72px, 1fr);
    }

    .heading figure {
        grid-column: 2;
    }

    .heading img {
        object-position: center bottom;
    }

    .article .parts-grid {
        grid-template-columns: minmax(72px, 1fr) minmax(auto, 860px) minmax(72px, 1fr);
    }

    .article {
        padding: 116px 0;
        row-gap: 36px;
    }

    .article>h1 {
        font-size: 48px;
        margin-bottom: 4px;
    }

    .article>p {
        font-size: 21px;
        line-height: 1.7;
    }

    .article>.gallery {
        grid-template-columns: 334fr 248fr 248fr;
        grid-template-rows: 278px 205px;
        gap: 15px;
        grid-template-areas: 'B A A''B D C';
        margin: 16px 0;

    }
    .hero h1 {
        margin-top: 33px !important;
        font-size: 229px !important;
    }
    .hero p {
        margin-top: 251px !important;
        font-size: 44px !important;
    }
    .hero img {
        margin: 84px 0 183px !important;
        width: 448px !important;
        height: 639px !important;
    }
    .msg {
        padding: 150px 0px !important;
        
        
    }
   
    .msg figure {
        grid-row: 1;
        width: 44%;
        
        
    }
    .msg .text {
        grid-row:1;
        width: 44%;
        margin: 92px 0 46px;
    }
    .msgBlack figure, .msgWhite .text {
        justify-self: end;
    }

    .msgWhite::after {
        margin-right: -110px;
        height: 256px;
        margin-bottom: -151px;
    }
    .msgBlack
    .msg h2 {
        font-size: 38px;

    }
   
    .msg img {
        height: 100%;
    }
    .decor{
        display: none !important;
    }
}


@media(max-width: 374px){
    .hero h1 {
        font-size: 75px !important;
    }
    
}

/*Main Content */
main {
    grid-column: 1/-1;
    grid-row: 2;
    
}

.heading>.site {
    color: #98a718;
    margin-top: 33px;
    font-size: 37px;
    font-weight: bold;
}

.heading figure {
    grid-column: 1/-1;
}

.heading img {
    width: 100%;
    object-fit: cover;
    height: 498;
}

/* article*/
.article {
    /*padding: 65px 0 105px;*/
    padding: 44px 0 99px;
    row-gap: 28px;
}

.article h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 14px;
}

.article p {
    font-size: 17px;
    line-height: 1.65;
}

.gallery {
    display: grid;
    grid-template-columns: 158fr 167fr;
    grid-template-rows: 173px 136px 136px;
    gap: 10px;
    grid-template-areas: "A A""B C""B D";
    margin: 14px 0;

}

.gallery>figure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery>.photoA {
    grid-area: A;
}

.gallery>.photoB {
    grid-area: B;
}

.gallery>.photoC {
    grid-area: C;
}

.gallery>.photoD {
    grid-area: D;
}
/*hero section */
